<!DOCTYPE html>
<html lang="en">
{{>head}}
<body>
    {{>header}}

    <div class="container">
        <h2>Are you sure you want to delete the account?</h2>

        <form action="/delete-account" method="post">
        <button type="submit" class="btn btn-danger mt-4">Yes</button>
        </form>
    </div>
</body>
</html>