<!DOCTYPE html>
<html lang="en">
{{>head}}
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    {{>header}}

    <div class="container">
        <div class="profile">
            <img src="https://www.ccssef.org/wp-content/uploads/2017/10/blank_profile_pic.jpg" id="profile-image" alt="">
            <h4 class="display-5 pt-5">arseniy</h4>
            <h4 class="display-5 pt-3">Lorem ipsum dolor my eja fhr f ahfrfrhf wghf rwg</h4>
            <h4 class="display-5 pt-3">arseniy@gmail.com</h4>
            <hr class="my-4">
        </div>

    </div>
    
</body>
</html>